{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        net.java.dev.jna/jna {:mvn/version "5.2.0"}
        techascent/tech.resource {:mvn/version "4.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.taoensso/timbre {:mvn/version "4.10.0"}}}}}
